<mat-sidenav-container>

    <mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h2>  Each User's Project List</h2>
        <hr>
        <div>
            <label><b>Username:</b></label>
        </div>
        <!-- <div>
            <label>Projectname's:</label>
        </div> -->
    <h6><b>Project List:</b></h6>
    <table class = "table table-hover">
        <thead>
            <tr>
                
                <th> Project Name</th>
                <th> Start Date </th>
                <th> End Date </th>
               
                
            </tr>
        </thead>
        <tbody>
           
             <tr></tr>
                <td></td>
               
               
               
                
               
            
        </tbody>
    </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>