
<mat-sidenav-container>

    <mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h2>  Each Project's User List</h2>
        <hr>
        <div>
            <label><b>Projectname:</b></label>
        </div>
        <!-- <div>
            <label>Start Date:</label>
        </div>
        <div>
            <label>End Date:</label>
        </div> -->
        
   
    <h6><b>Project List:</b></h6>
    <table class = "table table-borderless">
        <thead>
            <tr>
                
                <th> User Name</th>
                <th> User Email </th>
                <th> Status<th>
                <!-- <th> Project Count</th> -->
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= 'let user of userList'>
                
               

                <!-- <a href="displayprojectlist" routerLink= "/displayprojectlist" ><td> {{project.projectname}}</td> </a> -->
                <td> {{user.name}}</td> 
                <td>{{ user.email}}</td>
                <td>{{ getStatusFor(user)}}</td>
               
                </tr>
               
            
        </tbody>
    </table> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>