<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<link rel="stylesheet" href="NewFile.css">
<body>
<section class="login-block">
  <div class="container">
      <div class="row ">
          <div class="col login-sec">
              <h2 class="text-center">Login Now</h2>
              <form >
              <div class="form-group">
                  <label for="exampleInputEmail1" class="text-uppercase">Email</label>
                  <input type="email"   class="form-control" name="email"  id="email" name="email" placeholder="email" required>
                  
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                  <input  class="form-control"  type="password"  name="password" placeholder="password" id="password" required>
                 
              </div>
              
                  <input  type="submit" class="btn btn-login float-right" >
             
              <div class="clearfix"></div>
              <div class="form-group">
              Create new account ? Please <a  href="">Register</a>
              </div>
              </form>
          </div>
      </div>
  </div>
</section>

</body>
</html>